[Desktop Entry]
Name=qtiplot
Comment=Data analysis and scientific plotting
Comment[pl]=Analiza danych i naukowe rysowanie
Icon=qtiplot
Exec=qtiplot
Terminal=false
Type=Application
Categories=Qt;Education;Science;X-Plotting;
# vi: encoding=utf-8
